a:hover {
    text-decoration: none;
}

.banner-text {
    margin: 0px 10px 0px 0px;
}

.card {
    width: 14rem;
    transition: all 0.2s ease;
    cursor: pointer
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

.chartImage {
    max-width: 70%;
}

#fifthWallLogo {
    height: 40px;
    width: 40px;
}

#footer {
    background-color: lightgray;
}

.fwm-bg-gray {
    background-color: var(--fwm-gray);
}

.fwm-text {
    color: var(--fwm-primary)
}

h1 {
    text-align: center;
}

.homeTitleSubtext {
    color: rgb(11, 90, 143);
    text-align: center;
}

.imageLink {
    transition: all 0.2s ease;
    display: block;
    height: 150px;
}

.imageLink:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.movie-result {
    margin-bottom: 0px;
    padding-right: -1px;
    padding: 5px;
    cursor: pointer;
}

.movie-search-list {
    margin-left: 0px !important;
}

.nav-link {
    color: rgba(255, 255, 255, .75) !important;
}

.nav-link:active {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-link:focus {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

#right-links {
    margin-right: 0 "auto";
}

:root {
    --fwm-primary: rgb(11, 90, 143);
    --fwm-gray: rgb(241, 241, 241);
}

ul {
    list-style-type: none;
}

.welcome-image {
    margin-top: -20px;
    max-height: 80%;
    object-fit: fill;
}